<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.fm.dao.ShoppingCartMapper">

    <resultMap id="BaseResultMap" type="com.qingfeng.fm.entity.ShoppingCart">
        <id column="cart_id" jdbcType="INTEGER" property="cartId"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="sku_id" jdbcType="VARCHAR" property="skuId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="cart_num" jdbcType="VARCHAR" property="cartNum"/>
        <result column="cart_time" jdbcType="VARCHAR" property="cartTime"/>
        <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
        <result column="sku_props" jdbcType="VARCHAR" property="skuProps"/>
    </resultMap>

    <resultMap id="ShopCartVOMap" type="com.qingfeng.fm.entity.ShoppingCartVO">
        <id column="cart_id" jdbcType="INTEGER" property="cartId"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="sku_id" jdbcType="VARCHAR" property="skuId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="cart_num" jdbcType="VARCHAR" property="cartNum"/>
        <result column="cart_time" jdbcType="VARCHAR" property="cartTime"/>
        <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
        <result column="sku_props" jdbcType="VARCHAR" property="skuProps"/>
        <result column="product_name" jdbcType="DECIMAL" property="productName"/>
        <result column="url" jdbcType="VARCHAR" property="productImg"/>
        <result column="original_price" jdbcType="DECIMAL" property="originalPrice"/>
        <result column="sell_price" jdbcType="DECIMAL" property="sellPrice"/>
        <result column="sku_name" jdbcType="VARCHAR" property="skuName"/>
    </resultMap>

    <!-- 根据用户Id查询用户对应的购物车信息 -->
    <select id="selectShopCartByUserId" resultMap="ShopCartVOMap">
        select c.cart_id,
               c.product_id,
               c.sku_id,
               c.sku_props,
               c.user_id,
               c.cart_num,
               c.cart_time,
               c.product_price,
               p.product_name,
               i.url,
               s.original_price,
               s.sell_price,
               s.sku_name
        from shopping_cart c
                 inner join product p
                 inner join product_img i
                 inner join product_sku s
                 on c.product_id = p.product_id and i.item_id = p.product_id and c.sku_id = s.sku_id
        where user_id = #{userId}
          and i.is_main = 1
    </select>

    <select id="selectShopCartByCids" resultMap="ShopCartVOMap">
        select c.cart_id,
               c.product_id,
               c.sku_id,
               c.sku_props,
               c.user_id,
               c.cart_num,
               c.cart_time,
               c.product_price,
               p.product_name,
               i.url,
               s.original_price,
               s.sell_price,
               s.sku_name
        from shopping_cart c
                 inner join product p
                 inner join product_img i
                 inner join product_sku s
                 on c.product_id = p.product_id and i.item_id = p.product_id and c.sku_id = s.sku_id
        where i.is_main=1 and c.cart_id in
        <foreach collection="cids" item="cid" separator="," open="(" close=")">
            #{cid}
        </foreach>
    </select>

    <!-- 根据购物车Id修改购物车商品数量 -->
    <update id="updateCartNumByCartId">
        update shopping_cart set cart_num=#{cartNum} where cart_id = #{cartId}
    </update>

    <!-- 根据购物车Id删除购物车信息 -->
    <delete id="deleteByCartId">
        delete from shopping_cart where cart_id = #{cartId}
    </delete>
</mapper>